<!-- A hibakezeléshez hsznált modális ablak kinézete:
 -->
<div class="modal" id="errorModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="modalTitle"></h4>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" id="modalText">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick=" myModal.hide()">Bezár</button>
        </div>
  
      </div>
    </div>
  </div>